.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: white;
    color: black;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}


.sidebar-link {
    height: 74px;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-link img {
    height: 25px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 400;
    margin-top: 6px;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}




